{% extends 'base.html' %}

{% block content %}
<div class="client-entry">
  <h2>{{ object.client_fname }} {{ object.client_lname }}</h2>
    <div class="card-footer">
      <h3>Vehicles</h3>
        {% for vehicle in client.vehicles.all %}
          <p>
            <span class="font-weight-bold">{{ vehicle.owner }} &middot;</span>
            {{ vehicle }}
			<a href="{% url 'vehicle_edit' vehicle.pk %}">Edit</a> |
			<a href="{% url 'vehicle_delete' vehicle.pk %}">Delete</a>
          </p>
        {% endfor %}
      </div>
  </div>

  <p><a href="{% url 'client_edit' client.pk %}">Edit</a> | <a href="{% url 'client_delete' client.pk %}">Delete</a></p>
  <p>Back to <a href="{% url 'client_list' %}">All Clients</a>.</p>
{% endblock content %}
