{% extends 'base.html' %}

{% block content %}
<h2>Vehicle Records - {{ object.vehicle_owner.client_fname }} {{ object.vehicle_owner.client_lname }}
  <a href="{%url 'client_new'%}" style="float: right;">+ New Service Record</a></h2>
    <div>
      <h3>{{ object.vehicle_year }} {{ object.vehicle_make }} {{ object.vehicle_model }}</h3>
        {% for servicerecord in object.servicerecords.all %}
      <div class="card">
      <div class="card-header">
        <span class="font-weight-bold"> {{ servicerecord.service_date }}
      </div>
      <div class="card-body">
        <div class="card-header">
          <span class="font-weight-bold"> Notes:
        </div>
        <div class="card-body">
          {{servicerecord.service_details}}
        </div>
        <div class="card-footer">
          <span class="font-weight-bold"> Invoice Amount: ${{servicerecord.service_amount}}
        </div>
      </div>
      <div class="card-footer">
            <a href="{% url 'servicerecord_edit' servicerecord.pk %}">Edit</a> |
			<a href="{% url 'servicerecord_delete' servicerecord.pk %}">Delete</a> |
            <a href="{% url 'client_detail' servicerecord.vehicle_owner.pk %}"> Return to Client</a>
      </div>
      </div>



      </div>
      <br>
      {% endfor %}

  </div>
{% endblock content %}

